
<form action="/admin/users/add" method="post" data-th-object="${backUserEntity}" enctype="multipart/form-data">
    <div class="mb-3">
        <label data-th-for="username" class="form-label"> Username/login</label>
        <input class="form-control form-control-lg alert alert-secondary" type="text"
               data-th-field="*{username}">
    </div>
    <div class="mb-3">
        <label data-th-for="password" class="form-label"> Nom</label>
        <input class="form-control form-control-lg" type="password"
               data-th-field="*{password}"
               placeholder="password">
        <span data-th-if="${#fields.hasErrors('password')}" data-th-errors="*{password}">Password Error</span>
    </div>
    <div class="mb-3">
        <label data-th-for="verifPassword" class="form-label"> Nom</label>
        <input class="form-control form-control-lg" type="password"
               data-th-field="*{verifPassword}"
               placeholder="password">
        <span data-th-if="${#fields.hasErrors('verifPassword')}" data-th-errors="*{verifPassword}">Password Error</span>
    </div>
    <div class="mb-3">
        <label data-th-for="enabled" class="form-label">User actif ou non</label>
        <input class="form-control form-control-lg alert alert-secondary" type="text"
               data-th-field="*{enabled}">
    </div>
       <fieldset>
        <legend>Choose the level of Admin</legend>
        <table>
            <tbody>
        <tr data-th-each="r : ${role}">
            <td>
            <input class="form-check-input" data-th-for="flexCheckDisabled"  data-th-type="checkbox" id="flexCheckDisabled" data-th-name="${r.name}" data-th-field="*{roles}"  data-th-text="${r.name}" data-th-value="${r.id}">
            <label class="form-check-label" data-th-for="role"></label>
            </td>
        </tr>
            </tbody>
        </table>

    </fieldset>
       <div class="validation mb-3">
        <button class="mb-3 form-control form-control-lg btn btn-primary "type="submit">Valider</button>
        <button class="mb-3 form-control form-control-lg btn btn-warning" type="submit">Effacer</button>
    </div>
    </form>

