
<!--table>thead>tr>th*3^^tbody>tr>td*3 +tabulation pour valider-->
<table class="table table-hover" border="1">
    <thead>
    <tr>
        <th scope="col">Prénom</th>
        <th scope="col">Nom</th>
        <th scope="col">Login</th>
        <th scope="col">Mot de passe</th>
        <th scope="col">Role</th>
        <th scope="col">Mail</th>
    </tr>
    </thead>
    <tbody>
    <tr data-th-each="u : ${users}">
        <td data-th-text="${u.firstName}"></td>
        <td data-th-text="${u.lastName}"></td>
        <td data-th-text="${u.login}"></td>
        <td data-th-text="${u.password}"></td>
        <td data-th-text="${u.role}"></td>
        <td data-th-text="${u.mail}"></td>

    </tr>
    </tbody>
</table>
