
<!--table>thead>tr>th*3^^tbody>tr>td*3 +tabulation pour valider-->
<table class="table table-hover" border="1" >
    <thead>
    <tr>
        <th scope="col">UserName</th>
        <th scope="col">Password</th>
        <th scope="col">Actif</th>
        <th scope="col">User Id</th>
        <th scope="col">Role Id</th>
        <th scope="col">Modification</th>

    </tr>
    </thead>
    <tbody>

    <tr data-th-each="ur : ${userRole}" >
        <td data-th-text="${ur.username}"></td>
        <td data-th-text="${ur.password}"></td>
        <td data-th-text="${ur.enabled}"></td>
        <td data-th-text="${ur.id}"></td>
        <td data-th-text="${ur.name}"></td>
        <td ><a data-th-href="@{'/admin/users/'+${ur.id}}" <i class="bi bi-pencil-square"
                                                              style="font-size: 1.5rem;"></i></a> <a data-th-href="@{'/admin/users/'+${ur.id}+'/delete'}" <i class="bi bi-trash-fill"
                                                                                                                            style="font-size: 1.5rem;">></a></td>


    </tr>
    </tbody>
</table>
