<h1>detail Exterieur</h1>

<!--<form action="'/admin/exterieur/'+${id}" method="post" data-th-object="${sensExtEntity}" enctype="multipart/form-data">-->



            <div class="mb-3">
                <label data-th-for="int.idInt" class="form-label">Id</label>
                <input class="form-control form-control-lg alert alert-secondary" type="text"
                       data-th-field="*{int.idInt}">
            </div>
            <div class="mb-3">
                <label data-th-for="int.tempInt" class="form-label">Température</label>
                <input class="form-control form-control-lg alert alert-secondary" type="text"
                       data-th-field="*{int.tempInt}">
            </div>
            <div class="mb-3">
                <label data-th-for="int.humidInt" class="form-label">Humidité</label>
                <input class="form-control form-control-lg alert alert-secondary" type="text"
                       data-th-field="*{int.humidInt}">
            </div>

    <div class="validation mb-3">
        <button class="mb-3 form-control form-control-lg btn btn-primary "type="submit">Valider</button>
        <button class="mb-3 form-control form-control-lg btn btn-warning" type="submit">Effacer</button>
    </div>

<!--        </form>-->
