<h1>Interieur</h1>



<table class="table table-hover" border="1" data-th-if="${int.size()>0}">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Temp</th>
        <th scope="col">Humid</th>
        <th scope="col" data-sec-authorize="hasAuthority('ADMIN')">Modification</th>
    </tr>
    </thead>
    <tbody>
    <tr data-th-each="i : ${int}">
        <td data-th-text="${i.idInt}"></td>
        <td data-th-text="${i.tempInt}"></td>
        <td data-th-text="${i.humidInt}"></td>
        <td data-sec-authorize="hasAuthority('ADMIN')">
        <a data-th-href="@{'/admin/interieur/'+${i.idInt}}">Edit</a>
        </td>
    </tr>
    </tbody>
</table>