<h1>detail cave</h1>

<div class="container d-flex">



            <div class="row-perso d-flex flex-wrap justify-content-between">
                <div>Id</div>
                <div data-th-text="${c.idCave}"></div>
            </div>
            <div class="row-perso d-flex flex-wrap justify-content-between">
                <div>Temp</div>
                <div data-th-text="${c.tempCave}"></div>
            </div>
            <div class="row-perso d-flex flex-wrap justify-content-between">
                <div>Humid</div>
                <div data-th-text="${c.humidCave}"></div>
            </div>
<!--            <div class="row-perso d-flex flex-wrap justify-content-between">-->
<!--                <div>Id date</div>-->
<!--                <div  data-th-text="${c.idDate}"></div>-->
<!--            </div>-->
<!--            <div class="row-perso d-flex flex-wrap justify-content-between">-->
<!--                <div>Id Lieu</div>-->
<!--                <div data-th-text="${c.idLieu}"></div>-->
<!--            </div>-->

        </div>
