<h1>detail cave</h1>






    <div class="mb-3">
        <label data-th-for="c.idCave" class="form-label">Id</label>
        <input class="form-control form-control-lg alert alert-secondary" type="text"
               data-th-field="*{c.idCave}">
    </div>
    <div class="mb-3">
        <label data-th-for="c.tempCave" class="form-label">Température</label>
        <input class="form-control form-control-lg alert alert-secondary" type="text"
               data-th-field="*{c.tempCave}">
    </div>
    <div class="mb-3">
        <label data-th-for="c.humidCave" class="form-label">Humidité</label>
        <input class="form-control form-control-lg alert alert-secondary" type="text"
               data-th-field="*{c.humidCave}">
    </div>

    <div class="validation mb-3">
        <button class="mb-3 form-control form-control-lg btn btn-primary "type="submit">Valider</button>
        <button class="mb-3 form-control form-control-lg btn btn-warning" type="submit">Effacer</button>
    </div>


