<nav class="navbar navbar-expand-sm " data-th-fragment="navigation">
    <div class="container-fluid">
    </div>
    </form>

    <form>
        <div class="btn_contact">
            <a href="index">
                <button id="en-cours" class=" " type="button">Accueil</button>
            </a>
        </div>
    </form>

    <form>
        <div class=" btn_contact">
            <a href="/admin/exterieur">
                <button class=" " type="button">Exterieur</button>
            </a>
        </div>
    </form>

    <form>
        <div class=" btn_contact">
            <a href="/admin/interieur">
                <button class=" " type="button">Interieur</button>
            </a>
        </div>
    </form>



    <form>
        <div class="btn_contact">
            <a href="/admin/cave">
                <button class=" " type="button">Cave</button>
            </a>
        </div>
    </form>

    <form >
        <div class="dropdown">
            <button type="button" class="  dropdown-toggle" data-bs-toggle="dropdown">
                Users
            </button>
            <ul class="dropdown-menu">
                <li><div class="container mt-3">
                </div>
                </li>
                <li><a class="dropdown-item" href="/admin/users"><strong>Users list</strong></a></li>
                <li><a class="dropdown-item" href="/admin/users/add"><strong>User add</strong></a></li>
            </ul>
        </div>
    </form>
<!--    <form data-th-action="@{/logout}" method="post">-->
<!--        <div class=" first btn_contact">-->
<!--        <input type="text" value="Sign Out"/>-->
<!--        </div>-->
<!--    </form>-->
    <form id="form1" data-th-action="@{/logout}" method="post">
        <div class=" first btn_contact">

                <button form="form1" data-th-formaction="@{/logout}" data-th-formmethod="post" >Déconnection</button>

        </div>
    </form>

</nav>