<nav class="navbar navbar-expand-sm " data-th-fragment="navigation">
    <div class="container-fluid">
    </div>

    <form>
        <div class="btn_contact">
            <a href="/admin/index">
                <button  class=" " type="button" value="Accueil">Accueil</button>
            </a>
        </div>
    </form>

    <form>
        <div class=" btn_contact">
            <a href="/admin/exterieur">
                <button class=" " type="button" value="Exterieur">Exterieur</button>
            </a>
        </div>
    </form>

    <form>
        <div class=" btn_contact">
            <a href="/admin/interieur">
                <button class=" " type="button" value="Interieur">Interieur</button>
            </a>
        </div>
    </form>



    <form>
        <div class="btn_contact">
            <a href="/admin/cave">
                <button class=" " type="button" value="Cave">Cave</button>
            </a>
        </div>
    </form>

    <form >
        <div class="dropdown">
            <button  class="dropdown-toggle" type="btn" data-bs-toggle="dropdown" data-bs-target="#dropdown2">
                Users
            </button>

            <ul id=dropdown2 class="dropdown-menu">
                <li><a class="dropdown-item" href="/admin/users"><strong>Users list</strong></a></li>
                <li><a class="dropdown-item" href="/admin/users/add"><strong>User add</strong></a></li>
            </ul>

        </div>
    </form>

    <form id="form1" data-th-action="@{/logout}" method="post">
        <div class=" first btn_contact">

                <button form="form1" data-th-formaction="@{/logout}" data-th-formmethod="post" value="Logout">Déconnection</button>

        </div>
    </form>

</nav>