
$primaryColor: #978ee9;


html{
    width: 80%;
    margin:auto;
    

}

header{
    background-color: #ffffff;
    border : 4px solid rgb(41, 9, 155); 
}
/*Barre de menu*/
nav .first{
    margin-right: 00px;
}
nav button{
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    border-style:none;
    font-weight:bold;
    font-size:larger ;
    /*white-space: nowrap;*/
}

nav button:focus, nav button:hover{
    background-color: none;
    color: $primaryColor;
    border-color: none;
    border-style:none;
}
.nav-link, .navbar-brand{
    color: black !important;
}

nav li{
    font-size: 18px;
    border-style:none;
}
.dropdown-item{
    background-color: white;
}
.dropdown-item:focus, .dropdown-item:hover{
    background-color: none;
    color: $primaryColor;
    border-color: none;
    border-style:none;
}
nav #en-cours{
    color: $primaryColor;
}
/*Image Logo Bandeau supérieur*/
.logo{
    
   /* position: absolute;
    z-index: 10;*/
    margin-top: -70px;
    margin-left: 20px;
}
.logo1 img{
    width: 30%;
    border : 15px solid white;
}
body{
    
    
    background-color: #cac7e6;
}
h1{
    word-wrap: break-word;
    margin-top: 50px;
    margin-left: 15%;
    margin-bottom: 70px;
    font-weight: bolder;
}
.decalTitre{
    margin-left: 35%;
}

.sousTitre{
    margin-top: 100px;
}
.liste {
    margin-top: 30px;
    margin-left: 50px;
}
.liste li {
    margin-top: 15px;
    
}
.chartContainer{
    display: grid; 
    grid-template-columns: 0.25fr 1.2fr 1.2fr 1.2fr 0.9fr 0.25fr; 
    grid-template-rows: 150px 150px 150px 100px; 
    gap: 0px 0px; 
    grid-template-areas: 
    ". minmax minmax minmax maxmin1 ."
    ". minmax minmax minmax maxmin2 ."
    ". minmax minmax minmax maxmin3 ."
    "container1 container1 container1 container1 container1 container1"; 
    
      width: 100%;
    height: 400px;
}
.minmax{
    grid-area: minmax;
   
}
.maxmin1{
    grid-area: maxmin1;
    width: 200px;
    margin: 0px 0px;
    text-align: center;
    margin-left: 50px;
    }
.maxmin2{
    grid-area: maxmin2;
    width: 200px;
    margin: 0px 0px;
    text-align: center;
    margin-left: 50px;
    }
.maxmin3{
    grid-area: maxmin3;
    width: 200px;
    margin: 0px 0px;
    text-align: center;
    margin-left: 50px;
   }
   #thp{
    width: 40px;
    text-align: center;
   }
   #thp2{
    width: 60px;
    text-align: center;
   }
.container1{
    grid-area: container1;
    padding-top: 50px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}



.btn {
    width: 55px;
    border-color: black;
    border: 1px;
    background-color: #ffffff;
    border-radius: 27px;
    text-decoration: none;
    font-size: 30px;
    scale: 0.5;
    margin-top: -20px;
    margin: -10px -10px;
}


/*responsive*/
@media screen and (max-width: 1280px){
    nav button{
      font-size: 12px;
}
    }
  
    @media screen and (max-width: 1060px){
        nav button{
            font-size: 9px;
    }

    .logo{
    
        /* position: absolute;
         z-index: 10;*/
         margin-top: 150px;
         margin-left: 20px;
     }
     .logo1 img{
         width: 25%;
         border : 15px solid white;
     }
        }
        @media screen and (max-width: 900px){
            nav button{
              font-size: 12px;
        }
    }